body {
    font-family: Arial, sans-serif;
    background: #faf3e0;
    text-align: center;
}

.container {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px gray;
}

#size,#milk{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
       border-radius: 12px;
       font-weight: bold;

}


label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.checkbox-group label {
    display: block;
    font-weight: normal;
}

#orderBtn {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #1c140f;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

#output {
    margin-top: 20px;
    font-size: 18px;
}
#output strong {
    color: #f90404;
}
